//bg colors variables
$bg-light: #fff;
$bg-light-transparent-1:#ffffff4d;
$bg-light-transparent-2:#ffffff26;
$bg-light-2:#fbf9f9;
$bg-light-3:#f8f8f4cc;
$bg-light-4:#f7f7f2;
$bg-light-5:#f6f7f2;
$bg-gray-light:#ebebde;
$bg-gray-light-2:#e4e4d4;
$bg-gold:#ffa500;
$bg-orange:#ffa323;
$bg-bronze:#b7903c;
$gray:#888;
$purple:#ef2853;
$violet:#ee2852;
$brown:#d2401e;
$brown-2:#c83b1a;
$gray-dark:#1c1c1c;
$gray-dark-2:#1b1b1b;
$dark-transparent:#00000026;
//text colors
$text-light:#ffffff;
$text-brown-light:#d3cfaf;
$text-gray-light:#cdcdcd;
$text-gray-1:#b2b2b2;
$text-gray-2:#a6a6a6;
$text-gold:#b7903c;
$text-gold-2:#b68a2c;
$text-gray-dark:#8f8f8f;
$text-green:#339966;
$text-gray-dark-2:#858585;
$text-gray-dark-3:#767676;
$text-orange:#d2401e;


